.header {
    grid-area: h;
    padding: 10px;
    border-bottom: 2px solid rgba(0,0,0,.05);
    text-align: center;
}
h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 320px;
    width: 100%;
    position: relative;
    display: inline-block;
    color: #465457;
}
.d1 h3 {
    color: #F16246;
}
.d1 h3:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    height: 2px;
    background: #E5EDEA;
    z-index: -1;
}
.d1 span {
    background: white;
    padding: 0 20px;
}